# Python virtual environment
.venv/
venv/
env/

# Python cache files
__pycache__/
*.py[cod]

# Streamlit
.streamlit/

# VS Code settings
.vscode/

# PyCharm
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables / secrets
.env
*.env